*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.title{
    color: rgb(93, 97, 97);
    font-size: 3em;
}

.body{	
	justify-content: center;
}

.container{
	margin: auto;
	width: 100%;
	max-width: 1024px;
}

.header{
	background: rgb(221, 28, 92);
	width: 1024px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    justify-content: center;
    margin-bottom: 20px;
}

.two-columns{
    font-size: 0;
    
}

.section1{
	background: rgb(221, 28, 92);;
	width: calc(50% - 10px);
	height: 300px;
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
}

.section1:last-child{
    margin-right: 0;
}

.three-columns{
    font-size: 0;
    
}

.section2{
	background: rgb(221, 28, 92);;
	width: calc(33.3333% - (40px / 3));
	height: 120px;
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
}

.section2:last-child{
    margin-right: 0;
}

.parent{
    position: relative;
    background: rgb(221, 28, 92);
    height: 200px;
    float: left;
    width: 100%;
}

.child{
    position: absolute;
    background: rgb(177, 175, 175);
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);  
}

@media (max-width: 500px){

    .header{
        width: 100%;
    }

    .section1{
        width: 100%;
        float: none;
    }

    .section2{
        width: 100%;
        float: none;
    }

    .parent{
        float: none;
    }

}


